@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--neutral-50: 218 17% 91%;
		--neutral-75: 226 45% 96%;
		--neutral-100: 226 20% 94%;
		--neutral-200: 226 17% 91%;
		--neutral-300: 226 16% 84%;
		--neutral-400: 218 15% 65%;
		--neutral-500: 226 13% 46%;
		--neutral-600: 218 18% 34%;
		--neutral-700: 217 24% 27%;
		--neutral-800: 219 33% 17%;
		--neutral-900: 218 43% 11%;

		--primary-50: 211 81% 94%;
		--primary-75: 16 92% 88%;
		--primary-100: 17 94% 80%;
		--primary-200: 218 17% 91%;
		--primary-300: 17 92% 63%;
		--primary-400: 16 91% 57%;
		--primary-500: 212 82% 47%;
		--primary-600: 16 89% 42%;
		--primary-700: 16 92% 35%;
		--primary-800: 16 97% 28%;
		--primary-900: 218 43% 11%;
	}
}
